body {
    user-select: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

#body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    position: absolute;
    outline: none;
    border: 1px solid;
    height: 24px;
    width: 200px;
}

.button {
    position: relative;
    background-color: #008CBA;
    border: none;
    color: white;
    top: 30px;
    width: 200px;
    padding: 15px 0 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}